* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Image Optimization */
img {
  
    height: auto;
    display: block;
    will-change: transform, opacity;
    transition: opacity 0.3s ease-in-out;
}

/* Lazy Loading */
img[loading="lazy"] {
    opacity: 0;
}
img[loading="lazy"].loaded {
    opacity: 1;
}

/* Splash Screen */
.splash-logo {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.5s ease-in-out;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f3f3f3;
}
::-webkit-scrollbar-thumb {
    background: rgb(73, 73, 73);
    border-radius: 7px;
    transition: background 0.3s;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(169, 169, 169); 
}

/* Mobile Responsive */
@media only screen and (max-width: 768px) {
    body {
        background-color: #fff;
    }
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
