* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.splash-logo {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media only screen and (max-width: 768px) {
   
body{
    background-color: rgb(255, 255, 255);
}
  }
  
  
  

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background: rgb(73, 73, 73);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(169, 169, 169); 
    
  }